.btn{
	.font-header;
	.transition(0.2s);
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: @color-primary;
	outline: none;
	text-align: center;
	background: @color-yellow;
}
.btn:hover,.btn-hover{
	color: #fff;
	background: @color-link;
}