@import url(http://fonts.googleapis.com/css?family=Exo+2:700,400,300,200&subset=latin,latin-ext);
@import url('../fontello/css/helios-fonts.css');
.font-primary{
	font-family: Tahoma,'Lucida Grande CE',lucida,sans-serif;
}
.font-header{
	font-family: 'Exo 2', sans-serif;
}
.font-icon{
	font-family: 'helios-fonts';
}
