.container{
	.clearfix;
	position: relative;
	width: 940px;
	padding: 0 20px;
	margin: auto;
	text-align: left;
}
#page-header{
	position: relative;
	z-index: 9999;
	.logo{
		float: left;
		padding: 29px 0 0 10px;
		a{
			display: block;
			position: relative;
			width: 110px;
			height: 25px;
			padding: 36px 0 0 100px;
			margin: 0 0 10px;
			font-size: 11px;
			line-height: 1;
			letter-spacing: 0.03em;
			text-decoration: none;
			color: #000;
			background: url(../images/logo/01.png) no-repeat;
			mark{
				position: absolute;
				left: -999em;
				top: 0;
			}
		}
	}
	.slogan{
		position: relative;
		padding: 43px 0 30px 30px;
		width: 400px;
		float: left;
		line-height: 1;
		font-size: 16px;
		color: #9c9c9c;
		&:before{
			position: absolute;
			content: '';
			left: 9px;
			top: 24px;
			height: 54px;
			width: 1px;
			background: #9c9c9c;
			-webkit-transform: rotate(15deg);
			-moz-transform: rotate(15deg);
			-ms-transform: rotate(15deg);
			transform: rotate(15deg);
		}
	}
	.link{
		float: left;
		width: 200px;
		padding: 26px 0 10px;
		text-align: right;
	}
}
#box_home_01{
	padding: 7px 0 35px;
}
#box_home_02{
	background: #f5f5f5;
	padding: 2px 0 23px;
}
#box_home_03{
	background: #ebebeb;
	padding: 2px 0 20px;
}
#col-main{
	width: 680px;
	float: right;
}
#col-left{
	width: 220px;
	float: left;
}
#col-bottom{
	padding: 2px 0 17px;
	color: #fff;
	background: #3b3b3b;
	a{
		color: @color-yellow;
	}
}
#content{
	padding: 30px 0;
}
#page-footer{
	padding: 25px 0;
	.copy{
		float: left;
		margin: 0 0 0 10px;
		font-size: 12px;
	}
	.xart{
		float: right;
		margin: 0 10px 0 0;
		padding: 23px 0;
		font-size: 11px;
		line-height: 1;
		text-transform: uppercase;
		img{
			float: right;
			margin: -4px -3px 0 7px;
		}
		a{
			text-decoration: none;
			color: @color-primary;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -60px;
		right: 20px;
		height: 46px;
		width: 46px;
		text-indent: -9999px;
		line-height: 40px;
		text-align: center;
		background: @color-link;
		border: 1px solid #fff;
		color: #fff;
		text-decoration: none;
		&:before{
			.font-icon;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e802';
			font-size: 28px;
		}
		&:hover{
			background: @color-yellow;
		}
	}
	&.on{
		a{
			bottom: 22px;
		}
	}
}