html,button,input,select,textarea{
	.font-primary;
}
body{
	font-size: 15px;
	line-height: 1.4;
	text-align: center;
	font-weight: normal;
	color: @color-primary;
	background: #fff;
}
a{
	color: @color-link;
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
	margin: 30px 0 10px 0;
	line-height: 1.2;
	font-weight: normal;
}
h1{
	.font-header;
	position: relative;
	font-size: 36px;
	line-height: 1;
	margin-top: 0;
	font-weight: 200;
	padding: 0 0 22px;
	overflow: hidden;
	&:before{
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		content: '';
		border-top: 3px dashed #ccc;
	}
}
h2{
	.font-header;
	font-size:26px;
	font-weight: 900;
}
h3{
	.font-header;
	font-size: 22px;
	font-weight: 900;
}
h4{
	font-size:18px;
	font-weight: 900;
}
p{
	margin: 20px 0;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 14px;
	margin: 0;
	&:before{
		.font-icon;
		position: absolute;
		top: 3px;
		left: 0;
		font-size: 16px;
		line-height: 1;
		content: '\e81d';
		color: @color-link;
	}
	&>ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin:0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin:0 0 20px 0;
	border:0;
	border-top:1px solid darken(@color-yellow,10%);
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align:baseline;
	font-size:60%;
	line-height:1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	cursor:pointer;
	&:hover{
		text-decoration:none;
	}
}
