
.icon-search:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-up-dir:before { content: '\e802'; } /* '' */
.icon-left-dir:before { content: '\e803'; } /* '' */
.icon-right-dir:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-tasks:before { content: '\e806'; } /* '' */
.icon-retweet:before { content: '\e807'; } /* '' */
.icon-chat:before { content: '\e808'; } /* '' */
.icon-play-circled2:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-list-bullet:before { content: '\e80b'; } /* '' */
.icon-megaphone:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-cab:before { content: '\e810'; } /* '' */
.icon-magnet:before { content: '\e811'; } /* '' */
.icon-beaker:before { content: '\e812'; } /* '' */
.icon-truck:before { content: '\e813'; } /* '' */
.icon-coffee:before { content: '\e814'; } /* '' */
.icon-suitcase:before { content: '\e815'; } /* '' */
.icon-barcode:before { content: '\e816'; } /* '' */
.icon-basket:before { content: '\e817'; } /* '' */
.icon-gift:before { content: '\e818'; } /* '' */
.icon-flash:before { content: '\e819'; } /* '' */
.icon-fire:before { content: '\e81a'; } /* '' */
.icon-plus:before { content: '\e81b'; } /* '' */
.icon-angle-left:before { content: '\e81c'; } /* '' */
.icon-angle-right:before { content: '\e81d'; } /* '' */
.icon-angle-up:before { content: '\e81e'; } /* '' */
.icon-angle-down:before { content: '\e81f'; } /* '' */