@font-face {
  font-family: 'helios-fonts';
  src: url('../font/helios-fonts.eot?22654927');
  src: url('../font/helios-fonts.eot?22654927#iefix') format('embedded-opentype'),
       url('../font/helios-fonts.woff?22654927') format('woff'),
       url('../font/helios-fonts.ttf?22654927') format('truetype'),
       url('../font/helios-fonts.svg?22654927#helios-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'helios-fonts';
    src: url('../font/helios-fonts.svg?22654927#helios-fonts') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "helios-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-up-dir:before { content: '\e802'; } /* '' */
.icon-left-dir:before { content: '\e803'; } /* '' */
.icon-right-dir:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-tasks:before { content: '\e806'; } /* '' */
.icon-retweet:before { content: '\e807'; } /* '' */
.icon-chat:before { content: '\e808'; } /* '' */
.icon-play-circled2:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-list-bullet:before { content: '\e80b'; } /* '' */
.icon-megaphone:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-cab:before { content: '\e810'; } /* '' */
.icon-magnet:before { content: '\e811'; } /* '' */
.icon-beaker:before { content: '\e812'; } /* '' */
.icon-truck:before { content: '\e813'; } /* '' */
.icon-coffee:before { content: '\e814'; } /* '' */
.icon-suitcase:before { content: '\e815'; } /* '' */
.icon-barcode:before { content: '\e816'; } /* '' */
.icon-basket:before { content: '\e817'; } /* '' */
.icon-gift:before { content: '\e818'; } /* '' */
.icon-flash:before { content: '\e819'; } /* '' */
.icon-fire:before { content: '\e81a'; } /* '' */
.icon-plus:before { content: '\e81b'; } /* '' */
.icon-angle-left:before { content: '\e81c'; } /* '' */
.icon-angle-right:before { content: '\e81d'; } /* '' */
.icon-angle-up:before { content: '\e81e'; } /* '' */
.icon-angle-down:before { content: '\e81f'; } /* '' */